@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root{
    --white-clr: #fff;
    --black-clr: #000;
    --light-black: #333;
    --primary-clr: #e6303d;
    --secondary-clr: #eee;
    --tag-clr: #7cc576;
}

/* Basic Styling  */
li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: 100%;
    display: block;
    transition: transform .3s ease-in-out;
}

a:hover{
    color: var(--primary-clr);
}

.flex{
    display: flex;
    align-items: center;
}

.container{
    max-width: 80%;
    margin: auto;
}
/* NAVBAR STYLING  */

header{
    background: var(--white-clr);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0px 5px 14.25px .75px rgba(36, 11, 12, 0.5);
}
.logo{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--light-black);
}


.link{
    font-size: .95rem;
    color: var(--light-black);
    text-transform: uppercase;
    font-weight: 500;
}

.icon{
    font-size: .9rem;
    color: var(--light-black);
    background: var(--secondary-clr);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
.icon:hover,
.icon-active{
    background: var(--secondary-clr);
}

span,
.link-active,
.icon-active{
    color: var(--primary-clr);
}

.navbar{
    height: 12vh;
    justify-content: space-between;
}

.navlist{
    gap: 2.5rem;
}

.nav-icons{
    gap: .8rem;
}

.hamburger{
    font-size: 1.7rem;
    color: var(--primary-clr);
    display: none;
}

/* SECTION STYLING  */

section{
    padding: 4rem 0;
}

.hero{
    height: 115vh;
    background-image: url(image/hero-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 3.5rem;
}

.hero-content{
    height: 100%;
    width: 100%;
    justify-content: flex-end;
}

h3{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.7rem;
    color: var(--light-black);
}

h1{
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 600;
    color: var(--light-black);
}

h4{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 3.5rem;
    margin-bottom: 1.5rem;
}

button{
    font-weight: 600;
    font-size: .9rem;
    padding: .8rem 2.2rem;
    text-transform: uppercase;
    color: var(--secondary-clr);
    border: none;
    background: var(--primary-clr);
    transition: all .3s ease-in-out;
}

button:hover{
    background: var(--light-black);
}

